[includeIf "gitdir:~/github.com/ikscream/"]
	path = {{ ansible_env.HOME }}/godscream/configuration/git/ikscream.gitconfig
	
[includeIf "gitdir:~/github.com/p2p.org/"]
	path = {{ ansible_env.HOME }}/godscream/configuration/git/p2p.gitconfig

[includeIf "gitdir:~/p2p.com/"]
	path = {{ ansible_env.HOME }}/godscream/configuration/git/p2p.gitconfig

[includeIf "gitdir:~/github.com/waysidepublishing.com/"]
	path = {{ ansible_env.HOME }}/godscream/configuration/git/wayside.gitconfig

[includeIf "gitdir:~/github.com/k2216443/"]
	path = {{ ansible_env.HOME }}/godscream/configuration/git/k2216443.gitconfig

[alias]
	cis = commit -S

[gpg]
	program = gpg

[commit]
	gpgsign = true
